.button {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 7px;
  border-radius: 5px;
  background-color: #4cae4f;
  box-shadow: 0 0 4px #999;
}

.button:hover {
  background-color: #009805;
  transition: all 0.5s ease;
}